.login {
    text-align: center;
    width: 100%;
    max-width: 800px;
    font-size: 22px;
  }

.loginRow {
    display: flex;
    justify-content: space-between;
    margin: 1em 0.5em;
}

.loginInput {
  display: flex;
  flex: 1;
  margin-left: 3em;
}

.login button {
  font-size: inherit;
  margin: 0.25em 1em;
  background-color: lightblue;
  border: none;
  outline: none;
  padding: 0.25em;
}

.calendarSection {
  display: flex;
  justify-content: space-evenly;
}

.appointmentList {
  font-size: 19px;
  width: 4em;
}

.appointmentList>div {
  margin: 0.2em;
  border-bottom: 1px solid #444;
}

.navNumber {
  font-size: 20px;
  padding: 0.25em;
  border-bottom: 1px solid #444;
  margin-right: 0.25em;
}

.navNumberActive {
  color: blue;
  font-weight: bold;
}

.historyPanel {
  display: flex;
    justify-content: space-between;
    margin: 0 2em;
}

.historicalAppTable {
  border: 1px solid blue;

  max-width: 32em;
  min-width: 30em;
  justify-content: center;
}


.historicalAppRow {
  display: grid;
  grid-template-columns: 6em 9em 15em;
  padding: 0.15em 0;
  cursor: pointer;
  border-bottom: 1px solid blue;
}

.historicalAppRow.selected {
 background-color: lightblue;
}


.dtoPanel {
  border: 1px solid #5c5c5c;
  border-radius: 10px;
  width: 18em;
  padding: 0.2em 1em;
}

.dtoPanelHeader {
  font-size: 22px;
  border-bottom: 1px solid #5c5c5c;
}

.dtoStatus {
  display: flex;
  font-weight: 700;
  padding-top: 1em;
}

.dtoTime {
  display: flex;
  font-weight: 300;
  letter-spacing: 2px;
}