.login {
    text-align: center;
    width: 100%;
    max-width: 800px;
    font-size: 22px;
  }

.loginRow {
    display: flex;
    justify-content: space-between;
    margin: 1em 0.5em;
}

.loginInput {
  display: flex;
  flex: 1;
  margin-left: 3em;
}

.login button {
  font-size: inherit;
  margin: 0.25em 1em;
  background-color: lightblue;
  border: none;
  outline: none;
  padding: 0.25em;
}

.calendarSection {
  display: flex;
  justify-content: space-evenly;
}

.appointmentList {
  font-size: 19px;
  width: 4em;
}

.appointmentList>div {
  margin: 0.2em;
  border-bottom: 1px solid #444;
}

.navNumber {
  font-size: 20px;
  padding: 0.25em;
  border-bottom: 1px solid #444;
  margin-right: 0.25em;
}

.navNumberActive {
  color: blue;
  font-weight: bold;
}